# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Create a District Summary
school_data_complete.describe()

# Total number of schools
school_data_complete["school_name"].value_counts()
total_schools = len(school_data_complete["school_name"].value_counts())
print(total_schools)

# Total number of students
total_Students = len(school_data_complete["student_name"])
print(total_Students)

# Total budget
total_Budget = school_data_complete["budget"].sum()
print(total_Budget)

# Average math score
avg_Math = school_data_complete["math_score"].mean()
print(avg_Math)

# Average reading score
avg_Read = school_data_complete["reading_score"].mean()
print(avg_Read)

# Overall average score
total_Score = avg_Math + avg_Read
print(total_Score)

# Percentage of passing math (70 or greater)
pass_Math = school_data_complete["math_score"] >= 70
# print(pass_math)
# pass_math_rate = 

pass_Math.value_counts()

15
39170
82932329558
78.98537145774827
81.87784018381414
160.86321164156243

True     29370
False     9800
Name: math_score, dtype: int64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
#  Sort and display the top five schools in overall passing rate
school_data_df = school_data_complete.groupby(school_data_complete["school_name"])
# school_data_df = pd.DataFrame(school_data)
school_data_df.head()
# school_data_df.dtypes

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84,1,District,2949,1884411
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77,1,District,2949,1884411
2920,2920,Jennifer Brown,F,9th,Figueroa High School,97,64,1,District,2949,1884411
2921,2921,Denise Lopez,F,10th,Figueroa High School,79,64,1,District,2949,1884411
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,2,Charter,1761,1056600
5868,5868,Todd Barber,M,11th,Shelton High School,95,99,2,Charter,1761,1056600
5869,5869,Desiree King,F,12th,Shelton High School,76,95,2,Charter,1761,1056600
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,2,Charter,1761,1056600
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88,3,District,4635,3022020
7628,7628,Timothy Walker,M,12th,Hernandez High School,97,93,3,District,4635,3022020
7629,7629,Katie Johnston,F,12th,Hernandez High School,83,81,3,District,4635,3022020
7630,7630,Joann Oconnell,F,12th,Hernandez High School,77,91,3,District,4635,3022020
7631,7631,Sarah Alexander,F,10th,Hernandez High School,84,93,3,District,4635,3022020
12262,12262,Heather Wright,F,11th,Griffin High School,79,68,4,Charter,1468,917500
12263,12263,Elizabeth Goodwin,F,10th,Griffin High School,91,81,4,Charter,1468,917500
12264,12264,Michelle Wong,F,9th,Griffin High School,78,89,4,Charter,1468,917500
12265,12265,Scott Roth MD,M,11th,Griffin High School,91,85,4,Charter,1468,917500
12266,12266,Billy Wilson,M,12th,Griffin High School,76,83,4,Charter,1468,917500
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71,5,Charter,2283,1319574
13731,13731,Russell Ramirez,M,10th,Wilson High School,72,87,5,Charter,2283,1319574
13732,13732,Eric Butler,M,10th,Wilson High School,97,82,5,Charter,2283,1319574
13733,13733,Warren Kerr,M,11th,Wilson High School,93,68,5,Charter,2283,1319574
13734,13734,Gail Hall,F,9th,Wilson High School,79,72,5,Charter,2283,1319574
...,...,...,...,...,...,...,...,...,...,...,...
23274,23274,Alec Davis,M,9th,Pena High School,91,75,9,Charter,962,585858
23275,23275,Michael Meyer,M,10th,Pena High School,94,76,9,Charter,962,585858
23276,23276,Donald Gutierrez,M,11th,Pena High School,98,91,9,Charter,962,585858
23277,23277,Travis Chavez,M,11th,Pena High School,78,71,9,Charter,962,585858
23278,23278,Sheena Ball,F,12th,Pena High School,87,92,9,Charter,962,585858
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
24237,24237,Kimberly Hamilton,F,10th,Wright High School,84,93,10,Charter,1800,1049400
24238,24238,Ashley Johns,F,10th,Wright High School,88,88,10,Charter,1800,1049400
24239,24239,Stephanie Donovan,F,10th,Wright High School,75,84,10,Charter,1800,1049400
24240,24240,Cynthia Guzman,F,11th,Wright High School,93,82,10,Charter,1800,1049400
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,11,District,3999,2547363
26037,26037,Kimberly Calderon,F,10th,Rodriguez High School,80,86,11,District,3999,2547363
26038,26038,William Brady,M,11th,Rodriguez High School,97,62,11,District,3999,2547363
26039,26039,Jacob Padilla,M,11th,Rodriguez High School,79,73,11,District,3999,2547363
26040,26040,Paula Maldonado,F,10th,Rodriguez High School,96,92,11,District,3999,2547363
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87,12,District,4761,3094650
30036,30036,Jessica Lopez,F,9th,Johnson High School,98,62,12,District,4761,3094650
30037,30037,Anna Wilkins,F,11th,Johnson High School,89,77,12,District,4761,3094650
30038,30038,Andrew Smith,M,9th,Johnson High School,66,85,12,District,4761,3094650
30039,30039,Robert Allison,M,11th,Johnson High School,63,85,12,District,4761,3094650
34796,34796,Michael Mercado,M,9th,Ford High School,66,94,13,District,2739,1763916
34797,34797,Stephen Wolf,M,11th,Ford High School,68,63,13,District,2739,1763916
34798,34798,Bonnie Hughes,F,12th,Ford High School,73,59,13,District,2739,1763916
34799,34799,Melissa Smith,F,11th,Ford High School,88,58,13,District,2739,1763916
34800,34800,Brian Mitchell,M,10th,Ford High School,96,55,13,District,2739,1763916
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [5]:
# Calculate total school budget
total_sch_budget = school_data_df["budget"].sum()

# Calculate per student budget
total_student = school_data_df["size"].unique()

per_student_budget = total_sch_budget / total_student

# print(total_student)
# print(per_student_budget)

# Cacluate the avg math and reading score
avg_math = school_data_df["math_score"].mean()
avg_read = school_data_df["reading_score"].mean()

# Find the passing rate for math and reading (above 70 points)
# Find the total counts of math result
total_math_count = school_data_df["math_score"].count()
# print(total_math_count)
# Find the counts for math result in each school that pass 70 or higher
math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
# print(math_pass)
math_pass_school = math_pass.groupby(["school_name"])
math_pass_count = math_pass_school["math_score"].count()
# print(math_pass_count)
# Calculate the math passing rate
math_pass_rate = math_pass_count / total_math_count
# print(math_pass_rate)


# Find the total counts of read result
total_read_count = school_data_df["reading_score"].count()
# print(total_read_count)
# Find the counts for read result in each school that pass 70 or higher
read_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
# print(math_pass)
read_pass_school = read_pass.groupby(["school_name"])
read_pass_count = read_pass_school["reading_score"].count()
# print(read_pass_count)
# Calculate the read passing rate
read_pass_rate = read_pass_count / total_read_count
# print(read_pass_rate)

# Calculate the overall passing rate (average of the math and reading passing rate)
avg_pass_rate = (math_pass_rate + read_pass_rate) / 2
print(avg_pass_rate)

school_name
Bailey High School       0.743067
Cabrera High School      0.955867
Figueroa High School     0.733639
Ford High School         0.738043
Griffin High School      0.952657
Hernandez High School    0.738080
Holden High School       0.943794
Huang High School        0.735002
Johnson High School      0.736400
Pena High School         0.952703
Rodriguez High School    0.732933
Shelton High School      0.948609
Thomas High School       0.952905
Wilson High School       0.952037
Wright High School       0.949722
dtype: float64

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [10]:
# Create table that lists the average math score for each school of each grade level.

# Calculate the average math score for 9th grade in each school
grade_9_series = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
grade_9_df = grade_9_series.groupby(["school_name"])
grade_9_avg_math = grade_9_df["math_score"].mean()
# print(grade_9_avg_math)

# Calculate the average math score for 10th grade in each school
grade_10_series = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
grade_10_df = grade_10_series.groupby(["school_name"])
grade_10_avg_math = grade_10_df["math_score"].mean()
# print(grade_10_avg_math)

# Calculate the average math score for 11th grade in each school
grade_11_series = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
grade_11_df = grade_11_series.groupby(["school_name"])
grade_11_avg_math = grade_11_df["math_score"].mean()
# print(grade_11_avg_math)

# Calculate the average math score for 12th grade in each school
grade_12_series = school_data_complete.loc[school_data_complete["grade"] == "12th", :]
grade_12_df = grade_12_series.groupby(["school_name"])
grade_12_avg_math = grade_12_df["math_score"].mean()
# print(grade_12_avg_math)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [13]:
# Create table that lists the average reading score for each school of each grade level.

# Calculate the average reading score for 9th grade in each school
grade_9_avg_read = grade_9_df["reading_score"].mean()
# print(grade_9_avg_read)

# Calculate the average reading score for 10th grade in each school
grade_10_avg_read = grade_10_df["reading_score"].mean()
# print(grade_10_avg_read)

# Calculate the average reading score for 11th grade in each school
grade_11_avg_read = grade_11_df["reading_score"].mean()
# print(grade_11_avg_read)

# Calculate the average reading score for 12th grade in each school
grade_12_avg_read = grade_12_df["reading_score"].mean()
# print(grade_12_avg_read)

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [43]:
# Create a new column to show budget per student in each row
school_data_complete["spending per student"] = school_data_complete["budget"] / school_data_complete["size"]

# Create a new column to define the spending ranges per student
school_data_complete["spending"] = pd.cut(
    school_data_complete["spending per student"], spending_bins, labels=group_names)

# school_data_complete.head()

# Calculate the average math score within each spending range
spending_range_df = school_data_complete.groupby(["spending"])
# spending_range_df.head()

avg_math_range = spending_range_df["math_score"].mean()
# print(avg_math_range)

avg_read_range = spending_range_df["reading_score"].mean()
# print(avg_read_range)


# Calculate the percentage passing rate for math in each spending range
spending_math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
spending_math_pass_df = spending_math_pass.groupby(["spending"])
math_pass_sp = spending_math_pass_df["math_score"].count()
math_total_sp = spending_range_df["math_score"].count()
# math_pass_sp
# math_total_sp
math_percent_pass_per_spending = math_pass_sp / math_total_sp
# math_percent_pass_per_spending


# Calculate the percentage passing rate for reading in each spending range
spending_read_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
spending_read_pass_df = spending_read_pass.groupby(["spending"])
read_pass_sp = spending_read_pass_df["reading_score"].count()
read_total_sp = spending_range_df["reading_score"].count()
# read_pass_sp
# read_total_sp
read_percent_pass_per_spending = read_pass_sp / read_total_sp
# read_percent_pass_per_spending

# Calculate the percentage overall passing rate in each spending range
overall_percent_pass_per_spending = (math_percent_pass_per_spending + 
                                    read_percent_pass_per_spending) / 2
# overall_percent_pass_per_spending

# Numbers are off from the solution!!

spending
<$585       0.951947
$585-615    0.950055
$615-645    0.775076
$645-675    0.736701
dtype: float64

## Scores by School Size

* Perform the same operations as above, based on school size.

In [46]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [61]:
# Create a new column for the bin groups
school_data_complete["School Size"] = pd.cut(school_data_complete["size"],
                                             size_bins, labels=group_names)
# school_data_complete

size_df = school_data_complete.groupby(["School Size"])
# size_df.head()

avg_math_size = size_df["math_score"].mean()
avg_read_read = size_df["reading_score"].mean()

test_count_size = size_df["math_score"].count()
# print(test_count_size)

# Look for the total count of test scores that pass 70% or higher
math_pass_size = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
# math_pass_size
math_pass_size_df = math_pass_size.groupby(["School Size"])
math_count_size = math_pass_size_df["math_score"].count()
math_pass_rate_size = math_count_size / test_count_size
# print(math_pass_rate_size)

read_pass_size = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
# read_pass_size
read_pass_size_df = read_pass_size.groupby(["School Size"])
read_count_size = read_pass_size_df["reading_score"].count()
read_pass_rate_size = read_count_size / test_count_size
print(read_pass_rate_size)

# Calculate the overall passing rate for different school size
overall_pass_rate_size = (math_pass_rate_size + read_pass_rate_size) / 2
print(overall_pass_rate_size)

School Size
Small (<1000)         0.960403
Medium (1000-2000)    0.967731
Large (2000-5000)     0.821252
dtype: float64
School Size
Small (<1000)         0.949964
Medium (1000-2000)    0.951948
Large (2000-5000)     0.753888
dtype: float64

## Scores by School Type

* Perform the same operations as above, based on school type.

In [70]:
# Create bins and groups
school_type = school_data_complete.groupby(["type"])

avg_math_type = school_type["math_score"].mean()

avg_read_type = school_type["reading_score"].mean()

test_count_type = school_type["math_score"].count()
# test_count_type

# Find counts of the passing 70 or higher score for the both test
math_pass_type = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
# math_pass_type.head()
math_pass_type_df = math_pass_type.groupby(["type"])
math_count_type = math_pass_type_df["math_score"].count()
# math_count_type
math_pass_rate_type = math_count_type / test_count_type
# math_pass_rate_type

read_pass_type = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
# read_pass_type.head()
read_pass_type_df = read_pass_type.groupby(["type"])
read_count_type = read_pass_type_df["reading_score"].count()
# read_count_type
read_pass_rate_type = read_count_type / test_count_type
# read_pass_rate_type

# Calculate the overall passing rate
overall_pass_rate_type = (math_pass_rate_type + read_pass_rate_type) / 2
overall_pass_rate_type

type
Charter     0.951739
District    0.737118
dtype: float64